<h2> Test 3 <small> host name checker </small></h2>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row text-center">
      <div class="form-inline">
        <div class="form-group">
          <label>input A</label>
          <input type="text" class="form-control" name="inp_a" value="" ng-model="inp_a">
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" name="button" ng-click="run()">Resolve</button>
    </div>
    <hr>
    <div class="row text-center">
      <p>
        {{output}}
      </p>
    </div>
  </div>
</div>
